@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    line-height: 1;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

/* VARIAVEIS */
:root {
    --cor-primaria: #67bc45;
    --cor-secundaria: #003366;
    --cor-texto: #000;
    --cor-alerta: #ff0000;
    --cor-atencao: #fabd0d;
    --cor-cinza: #e2e2e2;
    --cor-cinza-01: #999
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor-primaria);
    border-radius: 6px;
}

::-moz-scrollbar {
    min-width: 6px;
}

::-moz-scrollbar-thumb {
    background-color: var(--cor-primaria);
    border-radius: 6px;
}

/* HEADER */
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1390px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

header .header-nav .header-logo {
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 333ms ease-in-out;
}

header .header-nav .header-logo img {
    width: 100%;
    object-fit: contain;
}

header .header-nav .header-menu-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    max-width: 70%;
}

header .header-nav .header-menu-options .header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header .header-nav .header-menu-options .header-menu .header-menu-item a {
    color: var(--cor-texto);
    font-size: 1rem;
    position: relative;
    transition: all 333ms ease-in-out;
}

header .header-nav .header-menu-options .header-menu .header-menu-item a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--cor-primaria);
    transition: all 333ms ease-in-out;
}

header .header-nav .header-menu-options .header-login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

header .header-nav .header-menu-options .header-login .header-login-icone i {
    font-size: 27px;
    color: var(--cor-texto);
}

header .header-nav .header-menu-options .header-login .header-login-bem-vindo {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

header .header-nav .header-menu-options .header-login .header-login-bem-vindo strong {
    color: var(--cor-texto);
    font-size: 1rem;
}

header .header-nav .header-menu-options .header-login .header-login-bem-vindo .header-login-link a {
    color: var(--cor-texto);
    font-size: 1rem;
    position: relative;
}

header .header-nav .header-menu-options .header-login .header-login-bem-vindo .header-login-link a:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: var(--cor-primaria);
    transition: all 333ms ease-in-out;
}

header .header-nav .header-menu-mobile-icone {
    display: none;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 333ms ease-in-out;
}

header .header-nav .header-menu-mobile-icone i {
    font-size: 27px;
}

header .header-nav .header-menu-mobile {
    display: none;
}

.header-usuario{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.header-usuario .header-usuario-icone{
    font-size: 24px;
}

.header-usuario  .header-usuario-bem-vindo{
    display: flex;
    flex-direction: column;
    gap: 3px;
    text-transform: capitalize; 
}

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    background: #000;
}

footer .footer-container {
    max-width: 1390px;
    margin: 0 auto;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

footer .footer-container span {
    color: #fff;
    font-size: 1rem;
    word-wrap: break-word;
}

/* DESKTOP */

/* MOBILE */
@media screen and (max-width: 991px) {
    header .header-nav .header-menu-mobile-icone {
        display: flex;
    }
    header .header-nav .header-menu-options {
        display: none;
    }
    header .header-nav .header-menu-options .header-menu {
        flex-direction: column;
        justify-content: space-between;
        height: 90%;
    }
    header .header-nav .header-menu-mobile {
        display: flex;
        position: absolute;
        right: 0;
        width: 0px;
        height: 100vh;
        background: #fff;
        z-index: 5;
        padding: 10px;
        top: 0;
        bottom: 0;
        flex-direction: column;
        gap: 10px;
        visibility: hidden;
        overflow-x: hidden;
        transition: all .3s ease-in-out;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-title {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-title span {
        color: var(--cor-primaria);
        font-size: 1.3rem;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-title button {
        color: var(--cor-primaria);
        font-size: 1rem;
        width: 120px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        background: #fff;
        border: 1px solid var(--cor-primaria);
        border-radius: 5px;
        transition: all 333ms ease-in-out;
       
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-items {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-items .header-menu {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-items .header-menu .header-menu-item {
        width: 100%;
        height: 30px;
        border-bottom: 1px solid #ddd;
        align-items: center;
        display: flex;
        padding: 20px 0;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-items .header-menu .header-menu-item a {
        width: 100%;
        color: var(--cor-texto);
        font-size: 1rem;
        height: 30px;
        display: flex;
        align-items: center;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-items .header-login {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-items .header-login .header-login-icone i {
        font-size: 30px;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-items .header-login .header-login-bem-vindo {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-items .header-login .header-login-bem-vindo strong {
        color: var(--cor-texto);
        font-size: 1.1rem;
    }
    header
        .header-nav
        .header-menu-mobile
        .header-menu-mobile-items
        .header-login
        .header-login-bem-vindo
        .header-login-link
        a {
        color: var(--cor-texto);
        font-size: 1rem;
    }
    body:has(.header-menu-mobile.active){
        overflow-y: hidden;
    }
    header .header-nav .header-menu-mobile.active{
        visibility: visible;
        width: 100vw;
        transition: all 333ms ease-in-out;
       
    }
}

/* HOVERS */
@media (hover: hover) {
    header .header-nav .header-logo:hover img {
        transform: scale(1.01);
    }
    header .header-nav .header-menu-options .header-menu .header-menu-item a:hover {
        opacity: 0.8;
    }
    header .header-nav .header-menu-options .header-menu .header-menu-item a:hover:after {
        width: 100%;
    }
    header .header-nav .header-menu-options .header-login .header-login-bem-vindo .header-login-link a:hover {
        color: var(--cor-primaria);
    }
    header .header-nav .header-menu-options .header-login .header-login-bem-vindo .header-login-link a:hover:after {
        width: 100%;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-items .header-menu .header-menu-item a:hover {
        color: var(--cor-primaria);
    }
    header
        .header-nav
        .header-menu-mobile
        .header-menu-mobile-items
        .header-login
        .header-login-bem-vindo
        .header-login-link
        a:hover {
        color: var(--cor-primaria);
    }
    header .header-nav .header-menu-mobile-icone:hover {
        background: var(--cor-primaria);
        color: #fff;
        display: flex;
    }
    header .header-nav .header-menu-mobile .header-menu-mobile-title button:hover{
        color: #fff;
        background: var(--cor-primaria);
    }
}
