main {
    width: 100%;
}

.main-container {
    width: 100%;
    max-width: 1206px;
    margin: 0 auto;
    padding: 0 10px;
}

.previsoes-futuras-titulo {
    color: var(--cor-texto);
    font-size: 2rem;
    font-weight: 500;
    transition: all 333ms ease-in-out;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previsoes-futuras-subtitulo {
    width: 100%;
    display: flex;
    align-items: center;
    color: #999;
    font-size: 0.8rem;
    font-weight: 400;
    justify-content: center;
    text-align: center;
}

.previcoes-futuras-conteudo {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(368px, 1fr)); 
    gap: 20px;
    margin: 50px 0;
    justify-items: center;
}

.previsoes-futuras-card {
    width: 100%;
    max-width: 412px;
    min-height: 247px;
    padding: 15px;
    border-radius: 10px;
    background: var(--cor-primaria);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.previsoes-futuras-informacoes {
    width: 100%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.previsoes-futuas-temperatura-linha {
    width: 45%;
    height: 1px;
    background: #fff;
}

.previsoes-futuras-infos {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.previsoes-futuras-informacoes span {
    width: 100%;
    color: #ffff;
    font-size: 0.8rem;
    font-weight: 400;
}

.previsoes-futuas-temperatura span {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
}

.previsoes-futuras-icone {
    width: 100%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.previsoes-futuras-icone img {
    max-width: 110px;
    object-fit: contain;
}
/* MOBILE */
@media screen and (max-width: 450px) {
    .previcoes-futuras-conteudo {
        grid-template-columns: 1fr;
    }
    .previsoes-futuras-card {
        max-width: 100%;
        flex-direction: column;
        gap: 20px;
    }
    .previsoes-futuras-icone {
        order: 1;
        max-width: 100%;
    }
    .previsoes-futuras-informacoes {
        order: 2;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
}

/* HOVER */
@media (hover: hover) {
    .previsoes-futuras-card:hover {
        transform: scale(1.01);
    }
}
